<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<DirectoryRef Id="TARGETDIR">
			<Directory Id="ProgramFilesFolder" Name="PFiles">
				<Directory Id="INSTALLDIR" Name="XIS-Mobile EA Plugin">
					<Component Id="XISMobileEAPluginFiles" Guid="81A733BA-8264-46B7-AA02-40DC57B8AD66" DiskId="1">
						<File Id="LicenseFile" Name="license.rtf" Source="license.rtf" />
						<Class Id="{39CF94CF-A8A9-3BFC-A0BE-C2ACA2AB62BD}" Context="InprocServer32" Description="XISMobileEAPlugin.CodeGenerator" ThreadingModel="both" ForeignServer="mscoree.dll">
							<ProgId Id="XISMobileEAPlugin.CodeGenerator" Description="XISMobileEAPlugin.CodeGenerator" />
						</Class>
						<Class Id="{A72B1383-4FFF-313D-ABCF-B0574993B490}" Context="InprocServer32" Description="XISMobileEAPlugin.Rules" ThreadingModel="both" ForeignServer="mscoree.dll">
							<ProgId Id="XISMobileEAPlugin.Rules" Description="XISMobileEAPlugin.Rules" />
						</Class>
						<File Id="filCDB7CF5A4F63202A4452F922A10CBA35" Name="XISMobileEAPlugin.dll" KeyPath="yes" Source="..\XISMobileEAPlugin\bin\Release\XISMobileEAPlugin.dll" />
						<RegistryValue Root="HKCR" Key="CLSID\{39CF94CF-A8A9-3BFC-A0BE-C2ACA2AB62BD}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="CLSID\{39CF94CF-A8A9-3BFC-A0BE-C2ACA2AB62BD}\InprocServer32\1.0.0.0" Name="Class" Value="XISMobileEAPlugin.CodeGenerator" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="CLSID\{39CF94CF-A8A9-3BFC-A0BE-C2ACA2AB62BD}\InprocServer32\1.0.0.0" Name="Assembly" Value="XISMobileEAPlugin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="CLSID\{39CF94CF-A8A9-3BFC-A0BE-C2ACA2AB62BD}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="CLSID\{39CF94CF-A8A9-3BFC-A0BE-C2ACA2AB62BD}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#filCDB7CF5A4F63202A4452F922A10CBA35]" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="CLSID\{39CF94CF-A8A9-3BFC-A0BE-C2ACA2AB62BD}\InprocServer32" Name="Class" Value="XISMobileEAPlugin.CodeGenerator" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="CLSID\{39CF94CF-A8A9-3BFC-A0BE-C2ACA2AB62BD}\InprocServer32" Name="Assembly" Value="XISMobileEAPlugin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="CLSID\{39CF94CF-A8A9-3BFC-A0BE-C2ACA2AB62BD}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="CLSID\{39CF94CF-A8A9-3BFC-A0BE-C2ACA2AB62BD}\InprocServer32" Name="CodeBase" Value="file:///[#filCDB7CF5A4F63202A4452F922A10CBA35]" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="CLSID\{A72B1383-4FFF-313D-ABCF-B0574993B490}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="CLSID\{A72B1383-4FFF-313D-ABCF-B0574993B490}\InprocServer32\1.0.0.0" Name="Class" Value="XISMobileEAPlugin.Rules" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="CLSID\{A72B1383-4FFF-313D-ABCF-B0574993B490}\InprocServer32\1.0.0.0" Name="Assembly" Value="XISMobileEAPlugin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="CLSID\{A72B1383-4FFF-313D-ABCF-B0574993B490}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="CLSID\{A72B1383-4FFF-313D-ABCF-B0574993B490}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#filCDB7CF5A4F63202A4452F922A10CBA35]" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="CLSID\{A72B1383-4FFF-313D-ABCF-B0574993B490}\InprocServer32" Name="Class" Value="XISMobileEAPlugin.Rules" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="CLSID\{A72B1383-4FFF-313D-ABCF-B0574993B490}\InprocServer32" Name="Assembly" Value="XISMobileEAPlugin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="CLSID\{A72B1383-4FFF-313D-ABCF-B0574993B490}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="CLSID\{A72B1383-4FFF-313D-ABCF-B0574993B490}\InprocServer32" Name="CodeBase" Value="file:///[#filCDB7CF5A4F63202A4452F922A10CBA35]" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="Record\{0054F30A-8D5B-44DA-AE6D-BD5D34896440}\1.0.0.0" Name="Class" Value="EA.EnumXMIType" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="Record\{0054F30A-8D5B-44DA-AE6D-BD5D34896440}\1.0.0.0" Name="Assembly" Value="XISMobileEAPlugin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="Record\{0054F30A-8D5B-44DA-AE6D-BD5D34896440}\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="Record\{0054F30A-8D5B-44DA-AE6D-BD5D34896440}\1.0.0.0" Name="CodeBase" Value="file:///[#filCDB7CF5A4F63202A4452F922A10CBA35]" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="Record\{6402E05F-6218-468D-BF1F-C8AD2CB1E87E}\1.0.0.0" Name="Class" Value="EA.EnumMVErrorType" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="Record\{6402E05F-6218-468D-BF1F-C8AD2CB1E87E}\1.0.0.0" Name="Assembly" Value="XISMobileEAPlugin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="Record\{6402E05F-6218-468D-BF1F-C8AD2CB1E87E}\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="Record\{6402E05F-6218-468D-BF1F-C8AD2CB1E87E}\1.0.0.0" Name="CodeBase" Value="file:///[#filCDB7CF5A4F63202A4452F922A10CBA35]" Type="string" Action="write" />
						<File Id="XISMobileEAPlugin.dll.config" Name="XISMobileEAPlugin.dll.config" Source="..\XISMobileEAPlugin\bin\Release\XISMobileEAPlugin.dll.config" />
						<File Id="XISMobileEAPlugin.pdb" Name="XISMobileEAPlugin.pdb" Source="..\XISMobileEAPlugin\bin\Release\XISMobileEAPlugin.pdb" />
						<File Id="XISMobileEAPlugin.tlb" Name="XISMobileEAPlugin.tlb" Source="..\XISMobileEAPlugin\bin\Release\XISMobileEAPlugin.tlb" />
						<File Id="XMLParser.jar" Name="XMLParser.jar" Source="XMLParser.jar" />
						<File Id="Generator.jar" Name="Generator.jar" Source="Generator.jar" />
					</Component>
					<Component Id="XISMobileEAPluginRegEntries" Guid="2936EFE7-AB1F-429A-890B-A2ACF8660BBB">
						<RegistryKey Root="HKCU" Key="Software\Sparx Systems\EAAddins\XIS-Mobile EA Plugin" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
							<RegistryValue Type="string" Value="XISMobileEAPlugin.CodeGenerator" />
						</RegistryKey>
					</Component>
					<Directory Id="XIS_Mobile_MDG" Name="XIS-Mobile MDG">
						<Component Id="XISMobileMDGFiles" Guid="071D2ABB-50AC-4AFF-BE20-42AD1CC7B766" DiskId="1">
							<File Id="ArchitecturalViewToolbox.xml" Name="ArchitecturalViewToolbox.xml" Source="XIS-Mobile MDG\ArchitecturalViewToolbox.xml" />
							<File Id="BusinessEntitiesViewToolbox.xml" Name="BusinessEntitiesViewToolbox.xml" Source="XIS-Mobile MDG\BusinessEntitiesViewToolbox.xml" />
							<File Id="DomainViewToolbox.xml" Name="DomainViewToolbox.xml" Source="XIS-Mobile MDG\DomainViewToolbox.xml" />
							<File Id="InteractionSpaceViewToolbox.xml" Name="InteractionSpaceViewToolbox.xml" Source="XIS-Mobile MDG\InteractionSpaceViewToolbox.xml" />
							<File Id="NavigationSpaceViewToolbox.xml" Name="NavigationSpaceViewToolbox.xml" Source="XIS-Mobile MDG\NavigationSpaceViewToolbox.xml" />
							<File Id="UseCasesViewToolbox.xml" Name="UseCasesViewToolbox.xml" Source="XIS-Mobile MDG\UseCasesViewToolbox.xml" />
							<File Id="XIS_Mobile_Technology.xml" Name="XIS-Mobile Technology.xml" Source="XIS-Mobile MDG\XIS-Mobile Technology.xml">
								<Permission ChangePermission="yes" GenericAll="yes" User="Everyone" />
							</File>
							<File Id="XIS_Mobile.mts" Name="XIS-Mobile.mts" Source="XIS-Mobile MDG\XIS-Mobile.mts" />
							<File Id="XIS_Mobile.xml" Name="XIS-Mobile.xml" Source="XIS-Mobile MDG\XIS-Mobile.xml" />
							<File Id="XIS_Mobile_Diagrams.xml" Name="XIS-Mobile_Diagrams.xml" Source="XIS-Mobile MDG\XIS-Mobile_Diagrams.xml" />
							<File Id="XIS_Mobile_Template.xml" Name="XIS-Mobile_Template.xml" Source="XIS-Mobile MDG\XIS-Mobile_Template.xml" />
							<File Id="XIS_MobileViewsToolbox.xml" Name="XIS-MobileViewsToolbox.xml" Source="XIS-Mobile MDG\XIS-MobileViewsToolbox.xml" />
						</Component>
					</Directory>
				</Directory>
			</Directory>
		</DirectoryRef>
	</Fragment>
</Wix>